@media screen and (min-width:640px) {
    .sec1-h1 {
        font-size: 26px;
        padding-top: 25px;
    }
    .sec1-card-flex {
        flex-wrap: nowrap;
        padding:10px 24px 0px ;
        justify-content: space-between;
    }
    .sec1-card-img {
        margin: 6px 0 7px 0;
    }
    .sec1-card-img img {
        width: 84px;
        height: 84px;
    }
    .sec1-card {
        padding: 0;
        width: 84px;
    }
    .sec1-background {
        height: 51%;
    }
    /* SECTION 3  */
    .card {
        width: 33.3333%;
        flex: 1 1 33.3333%;
    }
    .sec2-container {
        padding: 0 24px 60px;
    }
    .sec2-h2 h2 {
        font-size: 28px;
        line-height: 36px;
        text-align: left;
    }
    .sec2-card-flex {
        margin: 0 -9px;
    }
    .sec2-card-content {
        padding: 9px;
    }
    .sec2-card-title {
        max-height: 40px;
        line-height: 20px;
        font-size: 16px;
        -webkit-line-clamp: 2;
    }
    /* section 3 */

    .section-padding {
        padding: 0 12px;
    }

    .sec3-container {
        padding: 0 12px;
    }
    .sec3-flex-container {
        padding: 0 12px;
    }
    .sec3-text {
        font-size: 20px;
        line-height: 28px;
        height: 100%;
    }
    .sec3-content {
        min-height: 78px;
    }
    .sec3-card {
        max-width: 33.3333%;
        flex: 1 1 31%;
    }
    .sec3-flex {
        gap: 18px;
    }
    .sec3-card-content {
        box-shadow: none;
    }




}