@media screen and (min-width:900px) {
    .hide-on-mobile {
        display: block;
    }
    .header-container {
        padding: 12px 36px;
        flex-wrap: nowrap;
        margin-bottom: 0px;
        padding-top: 8px;
        }
    .etsy-logo-svg {
        width: 80px;
        height: 40px;
        padding-right: 6px;
        flex: 0;
        position: relative;
        top: 9px;
    }
    .burger-search-container{
        order: 0;
        flex: 1 1 0%;
        padding-right: 19px;
    }
    .burger-bttn-svg {
        display: none;
    }
    .header-nav-content {
        padding: 0 36px;
        /* padding-bottom: 12px; */
        height: 52px;
    }
    .nav-content-flex {
        /* margin: 0 -3px; */
        align-items: center;
        display: flex;
        flex-flow: row;
        flex: 1 1 100%;
        max-width: 100%;
        justify-content: space-between;
    }
    .nav-text,.gift-text {
        white-space: wrap;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        color: #222;
        font-family: etsyR;
        /* letter-spacing: 0.35px; */
    }
    .nav-text {
        margin: 4px 12px 0 0;
    }
    .nav-gift {
        margin: 4px 12px 0 0;
        display: flex;    
        align-items: flex-start;
    }
    .gift-svg {
        padding-right: 3px;

    }

    /* section 1 */
    .sec1-h1 {
        font-size: 32px;
        padding: 23px 0;
        line-height: 36px;
        letter-spacing: 0.5px;
    }
    .sec1-background {
        height: 41.5%;
    }
    .sec1-card-img img{
        width: 114px;
        height: 114px;
        max-width: 114px;
        /* border-radius: 50%; */
    }
    .sec1-card-img {
        margin-top: 4px;
    }
    .sec-1 {
        margin-top: -2px;

        
    }
    .sec1-card-flex {
        margin-bottom: 0;
        padding: 0 36px;
    }
    .sec1-card {
        width: 114px;
        height: 114px;
        flex-wrap: nowrap;
    }
    .sec1-card-text {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0px;
    }
    .sec1-content {
        height: 204px;
        margin-bottom: 42px;
    }
    /* SECTION 2 */

    .hide-on-900 {
        display: none;
    }
    .card {
        width: 20%;
        flex: 1 1 20%;    
    }
    .sec-2 {
        max-width: 1400px;
        margin: 0 auto;
    }
    .sec2-container {
        padding: 0 36px 90px;
    }
    .sec2-card-flex {
        margin: 0 -9px ;
    }
    
}