body,
ul,
li,
a {
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: etsyM;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: etsyM;
    src: url(/assets/font/Graphik-Medium-Web.woff2);
}

@font-face {
    font-family: etsyR;
    src: url(/assets/font/Graphik-Regular-Web.woff2);
}

@font-face {
    font-family: etsyL;
    src: url(/assets/font/Guardian-EgypTT-Light.woff2);
}

.hide-on-mobile {
    display: none;
}

.max-width {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    max-width: 1400px;
    margin: 0 auto;
}

.header-container {
    padding: 0 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 12px;
}

.etsy-logo-svg {
    position: relative;
    top: 7px;
    left: -3px;
    flex: 1;
}

.etsy-logo-svg svg {
    fill: rgb(241, 100, 30);
    width: 60px;
    height: 30px;

}

.button {
    width: 24px;
    height: 24px;
    fill: #222;
    padding: 12px;
    padding-top: 11px;
}

.burger-search-container {
    margin-top: 1px;
    display: flex;
    flex-flow: row;
    flex: 0 0 100%;
    order: 2;
}

.burger-bttn-svg {
    margin-left: -12px;
}

.search-input {
    width: 100%;
    display: flex;
    border: 2px solid #222;
    background: rgba(34, 34, 34, 0.05);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.primary-header-data {
    display: flex;
    align-items: center;
    /* flex: 1; */

}

.search-input input {
    border: 0px solid;
    background-color: transparent;
    padding: 8px 0 10px 18px;
    height: 26px;
}

.search-input input::placeholder {
    font-size: 16px;
    height: 26px;
}

.sign-in {
    /* font-weight: 600; */
    font-size: 13px;
    white-space: nowrap;
    /* margin: 2px; */
    padding: 9px 21px 9px 15px;
}

.favourite-bttn {
    margin-left: 6px;
    margin: 0 -2px;
}

.favourite-svg {
    height: 24px;
}

.search-svg {
    padding: 10px 22px 14px 15px;
    height: 20px;
}

/* section 1 */

.sec-1 {
    font-family: etsyL;
    color: #222;
    box-sizing: border-box;
}

.sec1-background {
    background-color: #d7e6f5;
    height: 74.8%;
    width: 100vw;
    position: absolute;
    z-index: -1;
}

.sec1-card-container {
    margin-bottom: 42px;
}

.sec1-h1 {
    background-color: #d7e6f5;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.35px;
    text-align: center;
    padding: 20px 12px 0px;

}

.sec1-container {
    position: static;
}

.sec1-content {
    height: 100%;
    position: relative;
}

.sec1-card-flex {
    padding: 6px 6px 0px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 42px;
    /* position: relative; */
    /* height: 100%; */
}

.sec1-card {
    box-sizing: border-box;
    width: 33.33%;
    padding: 0 2.5%;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    align-items: center;
}

.sec1-card-img {
    margin: 11px 0 1px 0;
}

.sec1-card-img img {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(34, 34, 34, 0.15);
    max-width: 96px;
    margin: 0 auto;
    border-radius: 1000px;
}

.sec1-card-text {
    margin-bottom: 9px;
    font-family: etsyM;
    font-size: 13px;
    text-align: center;
    word-wrap: break-word;
    line-height: 18px;
    letter-spacing: 0.1px;
}

/* section 2  */

.sec2-container {
    padding: 0 12px 60px;
}

.sec2-h2 {
    padding-bottom: 18px;
    width: 100%;

}

.sec2-h2 h2 {
    font-size: 18px;
    font-family: etsyM;
    line-height: 24px;
    text-align: center;
    color: #222;
    font-weight: 500;
}

.sec2-card-flex {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 0 -6px;
}

.card {
    max-width: 50%;
    flex: 1 1 50%;
}

.sec2-card-content {
    padding: 6px;
    margin: -6px 0 20px;
}

.sec2-card-img img {
    min-width: 142px;
    width: 100%;
    border-radius: 6px;
}

.dfrow {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.sec2-card-text {
    padding-top: 5px;
}

.sec2-card-title {
    font-size: 13px;
    margin-bottom: 5px;
    overflow: hidden;
    max-height: 18px;
    text-overflow: ellipsis;
    letter-spacing: 0.1px;
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.sec2-card-rating {
    font-family: etsyR;
    font-size: 13px;
    color: #595959;
    margin-bottom: 4px;
    align-items: flex-start;
}

.rating-star {
    padding-right: 4px;
}

.s2-discount {
    color: #258635;
    font-family: etsyR;
    font-size: 13px;
    padding-top: 3px;
}

.currency {
    padding-right: 4px;
}

.s2-price {
    padding-right: 4px;
}

.discount-price {
    padding-right: 4px;
    text-decoration: line-through;
}

.sec2-card-price {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

/* third section */


.third-sec-container {
    padding: 0 6px;
}

.third-sec-content {
    /* padding: 0 6px; */
}

.third-sec-flex-container {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
}

.third-card p {
    font-size: 13px;
    font-family: etsyR;
    color: #595959;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

.third-card h2 {
    font-size: 18px;
    font-weight: 700;
    color: #222;
    font-family: etsyR;
    line-height: 24px;
    text-align: center;
    padding-bottom: 18px;
}

.play-bttn-circle {
    position: absolute;
    background-color: #fff;
    bottom: 12px;
    right: 12px;
    width: 30px;
    height: 30px;
    border-radius: 25px;
}

.play-bttn-circle svg {
    width: 18px;
    height: 18px;
    z-index: 100;
    margin: 6px 4px 6px 8px;
}

.third-card img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.third-card {
    width: 100%;
    height: 100% !important;
    position: relative;
    flex-grow: 1;
    flex-basis: 33.3333%;
    box-sizing: border-box;
}

.third-img0 {
    flex: 1 100%;
}

.third-card-wrapper {
    padding: 6px;
}

.third-img8 {
    flex-basis: 100%;
    text-align: center;
}


/* SECTION 3 */
.sec3-container {
    padding: 0 6px;
    box-sizing: border-box;
}

.sec3-flex-container {
    padding: 0 6px;
    margin-bottom: 60px;
}

.sec3-card {
    max-width: 50%;
    flex: 1 1 47%;
    border-radius: 12px;
    /* padding: 0 6px; */
}

.sec3-card-content {
    box-shadow: 0 4px 10px rgba(34, 34, 34, 0.15);
    border: 1px solid rgba(34, 34, 34, 0.15);
    border-radius: 12px;

}

.sec3-flex {
    gap: 12px;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
}

.sec3-h2 {
    padding-bottom: 6px;
    align-items: center;
    justify-content: center;
}

.sec3-h2 .right-arrow {
    width: 12px;
    height: 24px;
    margin-left: 10px;
}

.sec3-h2 h2 {
    color: #222;
    line-height: 24px;
    font-size: 18px;
    font-family: etsyM;
    font-weight: 500;
    height: 100%;
}

.sec3-img-container img {
    /* width: 140px; */
    border-radius: 12px 12px 0 0;
    width: 100%;

}

.sec3-text {
    padding: 12px;
    text-align: center;
}

.sec3-content {
    display: flex;
    flex-flow: column;
    flex: 1 1 0%;
    justify-content: center;
    min-height: 60px;
}

.sec3-head-container {
    display: flex;
    flex-flow: column;
    font-family: etsyR;
    padding-bottom: 18px;
    text-align: center;
}

.sec3-para {
    color: #595959;
    font-size: 13px;
}







/* section 4 */

.card4-para {
    display: none;
}

.section-padding {
    padding: 0 6px;
}

.sec4-container {
    box-sizing: border-box;
}

.sec4-cards {
    display: flex;
    flex-flow: column;
    gap: 13px;
}

.sec4-card {
    border: 1px solid rgba(34, 34, 34, 0.15);
    display: flex;
    flex-flow: row;
    border-radius: 10px;
}

.sec4-head-content {
    padding-bottom: 18px;
    text-align: center;
    align-items: flex-start;
    justify-content: center;
}

.sec4-h2 {
    font-size: 18px;
    color: #222;
    line-height: 24px;
}

.right-arrow {
    width: 12px;
    height: 24px;
    margin-left: 12px;

}

.card4-sub-text p {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    font-family: etsyR;
}

.img-container {
    flex-grow: 1;
    max-width: 50%;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.sec4-content {
    padding: 20px 18px 9px;
}

.card4-main-text {
    padding: 12px 0;
}

.card4-main-text p {
    color: #222;
    font-size: 16px;
    line-height: 20px;
}

.sec4-flex-container {
    margin-bottom: 60px;
}

.sec4-contents {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

/* section 5 */
.sec-5 {
    padding-bottom: 6px;
    background-color: #fdebd2;
}

.sec5-container {
    background: #fdebd2;
    padding: 36px 30px;
    color: #222;
    text-align: center;
}

.sec5-top-svg {
    display: flex;
    justify-content: center;
    background: #fdebd2;
    width: 100%;
    height: 24px;
}

.sec5-top-svg svg {
    margin-top: 0;
    fill: #fff;
}

.sec5-head-content h2 {
    font-size: 32px;
    font-weight: 400;
    font-family: etsyL;
}

.sec5-head-text {
    font-size: 14px;
    text-decoration: underline;
    line-height: 1.4;
    font-family: etsyR;
}

.sec5-main-content {
    padding-top: 36px;
    margin-bottom: 6px;
}

.sec5-content-title {
    margin-bottom: 18px;
}

.sec5-content-title h3 {
    font-size: 24px;
    font-family: etsyR;
    line-height: 32px;
}

.sec5-content-para p {
    font-size: 16px;
    line-height: 28px;
    font-family: etsyR;
}

.sec5-content {
    margin-bottom: 30px;
}

.sec5-underline-text {
    text-decoration: dashed underline;
    text-underline-offset: 4px;
}

.sec5-help-center {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.sec5-h4 {
    font-size: 18px;
    line-height: 24px;
}

.sec5-help-bttn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    padding: 10px 15px;
    border: 2px solid #222;
    border-radius: 24px;
    /* width: 136px; */
    height: 24px;
}

/* footer */
.footer-top-svg svg {
    background-color: #fdebd2;
    fill: #d7e6f5;
    display: block;
    height: 30px;
    width: 100%;
}

.footer-sec-1 {
    text-align: center;
    background-color: #d7e6f5;
    padding-bottom: 36px;
}

.footer-sec1 {
    padding: 18px 24px 0;
}

.footer-sec1-content {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.footer-sec1-text {
    margin-bottom: 18px;
    color: #222;
    line-height: 20px;
}

.email-input-bttn {
    background-color: #fff;
    border-radius: 100px;
    height: 48px;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    flex: 1;
    box-shadow: 1px 2px 4px rgba(34, 34, 34, 0.1) inset;
    border: 1px solid rgba(34, 34, 34, 0.15);
}

.email-input-bttn input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 100px;
    padding: 9px 12px 9px 18px;
    border: none;
}

.email-input-bttn input::placeholder {
    font-size: 16px;
    font-family: etsyR;
    width: 100%;
}

.email-input-bttn button {
    background-color: #fff;
    border: none;
    padding: 14px 21px 14px 0;
    font-family: unset;
    font-size: 16px;
    color: #222;
    box-shadow: -2px 2px 4px rgba(34, 34, 34, 0.1) inset;
    border-radius: 0 100px 100px 0;
}

.footer-sec2-content {
    background-color: #4D6BC6;
    padding: 12px 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}

.footer-sec2-top-svg svg {
    transform: rotate(180deg);
    height: 24px;
    display: block;
    width: 100%;
    fill: #4D6BC6;
}

.footer-sec2-top-svg {
    background-color: #d7e6f5;
}

.footer-sec2-svg {
    margin-bottom: 6px;
}

.footer-sec2-svg svg {
    width: 36px;
    height: 36px;
    fill: #fff;
}

.footer-sec2-text {
    text-underline-offset: 4px;
    text-decoration: underline dashed;
    color: #fff;
    margin: 0 12px;
    font-family: etsyR;
    font-weight: 300;
    line-height: 28px;
}

.footer-nav {
    background-color: #2f466c;
    color: #fff;
    fill: #fff;
    font-family: etsyR;
}

.footer-nav-container {
    padding: 12px 24px;
}

.footer-nav-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.f-nav-title {
    padding: 12px 18px;
    margin: 0 -18px 6px;
    font-family: etsyR;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
}

.footer-last-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-last-child .down-angle-svg img {
    transform: rotate(180deg);
}

.flex-exception {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.etsy-download-bttn {
    display: flex;
    align-items: center;
}

.etsy-social-container ul {
    display: flex;
    justify-content: center;
    margin-left: -6px;
}

.down-angle-svg img {
    width: 24px;
    height: 24px;
}

.footer-logo-svg svg {
    width: 24px;
    height: 24px;
}

.footer-logo-svg {
    display: flex;
    align-items: center;
}

.social-media svg {
    width: 36px;
    height: 36px;
}

.f-nav-content ul {
    padding: 0 6px;
}

.f-nav-text {
    padding: 6px 0 12px;
    font-family: etsyR;
    font-size: 13px;
}

.f-nav-etsy-social {
    margin-top: 12px;
}

.etsy-download-bttn {
    width: 175px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px 13px;
    border-radius: 24px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    font-family: etsyR;
}

.footer-logo-text {
    font-size: 13px;
    margin-left: 6px;
    font-weight: 700;
    font-family: etsyR;
}

.f-nav-etsy-social {
    margin-top: 12px;
    width: 100%;
}

.etsy-social-container {
    margin-top: 18px;
}

.social-media {
    margin-right: 12px;
}

.social-media div {
    padding: 8px;
    margin-left: -12px;
}

.social-media:last-child {
    margin-right: -12px;
}

.insta {
    margin-left: px;
}

.footer-credit {
    background-color: #232347;
}

.footer-credit-wrapping {
    padding: 18px 24px;
}

.footer-credit-first {
    padding-bottom: 12px;
}

.footer-credit-first-wrapper {
    padding: 9px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-globe {
    display: flex;
    align-items: center;
}

.footer-globe svg {
    fill: #fff;
    width: 18px;
    height: 18px;
}

.credit-text {
    font-size: 13px;
    color: #fff;
}

.footer-credit-last {
    color: #fff;
    font-family: etsyR;
    font-size: 13px;
    font-weight: 300;

}

.footer-credit-last-flex {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.footer-last-credit {
    margin-bottom: 12px;
}

.footer-last-list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.footer-list {
    text-decoration: underline;
    font-family: etsyR;
    margin: 1px 12px 0 1px;

}

.sec-four-wrapper {
    margin: 60px 0;
    padding: 0 12px;
    text-align: center;
    color: #222;
}

.sec-four-content {
    padding: 0 12px;
    margin-bottom: 60px;
}

.sec-four-h3 {
    margin-bottom: 9px;
    font-size: 18px;
    font-weight: 400;
}

.sec-four-p {
    padding-bottom: 20px;
    font-size: 13px;
    color: #595959;
    font-family: etsyR;
    font-weight: 300;
}

.sec-four-flex-container {
    display: flex;
    flex-flow: column;
}

.four-content {
    margin-bottom: -3px;
}

.four-card {
    height: 306px;
    padding: 0git  18px 0 0;
    margin-bottom: 12px;
    background: rgba(34, 34, 34, 0.075);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* overflow: hidden; */
    position: relative;
}

.four-card-flex {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.circle-img {
    margin-right: 12px;
    border-radius: 50%;
}

.four-right-arrow img {
    width: 24px;
    height: 24px;
}

.four-content {
    position: absolute;
    top: 6px;
    left: 6px;
}

.four-content-text {
    white-space: nowrap;
    margin-left: 318px;
}

.four-right-arrow {
    display: none;
}

@media screen and (min-width:550px) {
    .four-right-arrow {
        display: block;
    }
}